{% extends "home.html" %}

{% block content %}
<h2><strong>ABOUT</strong></h2>
<p>This Movie-review sentiment analysis is based upon latest IMDB reviews.It takes reviews as an input and gives result as a sentiment i.e 
either positive,neutral or negative.</p>
<p>Trained on Deep LSTM architecture and fully connected layers with accuracy achieving whooping ~99%.<p>
<li>Applications:
    <li>It can be used as an engine to detect sentiment in real-time whenever user provides reviews.</li>
</li>

{% endblock %}
